.stack-budget-field .v-field {
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: inherit !important;
    color: inherit;
}
.stack-budget-field .v-field__input {
    min-height: 25px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
.stack-signal-config-switch label {
    font-size: 12px;
    color: #000000 !important;
    opacity: 0.9;
}
.__jivoMobileButton {
    z-index: 1004 !important;
}
.documentation-link {
    text-decoration: underline;
    color: rgb(0, 77, 64);
    font-weight: 500;
}
