# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=__GENERATE_ME__
###< symfony/framework-bundle ###

###> tg-bot-api/bot-api-base ###
TG_BOT_API_KEY=
###< tg-bot-api/bot-api-base ###

###> symfony/mailer ###
# MAILER_DSN=null://null
###< symfony/mailer ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8&charset=utf8mb4"
DATABASE_URL="mysql://root:root@localhost:3306/crypto?serverVersion=5.7"
###< doctrine/doctrine-bundle ###

###> trikoder/oauth2-bundle ###
# Fallback OAuth2 encryption key
# Please override this with a secure value: https://oauth2.thephpleague.com/installation/#string-password
OAUTH2_ENCRYPTION_KEY=__GENERATE_ME__
###< trikoder/oauth2-bundle ###
ACCESS_TOKEN_TTL=PT1H
MESSENGER_TRANSPORT_DSN=amqp://telegram:telegram@rabbit:5672/telegram
REDIS_DSN=redis://redis
BREVO_API_KEY=asd
LEAD_TEMPLATE_ID=14
DEPLOY_SERVICE_IP=host.docker.internal
OXA_PAY_API_KEY=sandbox
BACK_END_HOST=
FRONT_END_HOST=
###> league/oauth2-server-bundle ###
OAUTH_PRIVATE_KEY=%kernel.project_dir%/config/jwt/private.pem
OAUTH_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
OAUTH_PASSPHRASE=7fd8595637ffafcede48ae65faec58a9
OAUTH_ENCRYPTION_KEY=76cacd78c597ce23947b153d21e564e9
###< league/oauth2-server-bundle ###
