includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: 6
    paths:
        - src/
        - bundles/
        - tests/
    excludePaths:
        - var/*
        - vendor/*
        - migrations/*
    reportUnmatchedIgnoredErrors: false
    parallel:
        maximumNumberOfProcesses: 1
